language: go
go:
  - 1.8.x
  - 1.9.x
  - tip

go_import_path: go.mercari.io/go-httpdoc

os:
  - linux
  - osx

sudo: false

install:
  - go get -v ./...

script:
  - go vet
  - go test -race -coverprofile=coverage.txt -covermode=atomic
  
after_success:
  - bash <(curl -s https://codecov.io/bash)
